name: Testing

on:
  push:
    branches:
      - "**" # Run on all branches
      - "!main" # Except main

jobs:
  testing:
    name: Testing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          cache: true
          cache-dependency-path: |
            go.sum
          go-version: "1.24"

      - name: Test
        run: make test

  linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          cache: true
          cache-dependency-path: |
            go.sum
          go-version: "1.24"

      - name: GoLang CI Lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.0
          args: --timeout 10m0s

  formatting:
    name: Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          cache: true
          cache-dependency-path: |
            go.sum
          go-version: "1.24"

      - name: Format
        run: |
          go install golang.org/x/tools/cmd/goimports@v0.32.0
          UNFORMATTED_CODE_GOFMT=$(goimports -local github.com/flume -d ./)
          if [ -n "$UNFORMATTED_CODE_GOFMT" ]; then
            echo "Code is not formatted. Please run 'make fmt' to fix it."
            echo "$UNFORMATTED_CODE_GOFMT"
            exit 1
          fi
